@import url('https://fonts.googleapis.com/css?family=Oswald:200,400,500&display=swap');

*,::before,::after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    font-family: "Oswald";
}

/* ________________________________________________________________________________________________________ */
/* ______________________________________________HEADER____________________________________________________ */
/* ________________________________________________________________________________________________________ */

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
    z-index: 1;
}

.logo{
    width: auto;
    height: 40px;
}

.navbar{
    list-style: none;
}

.navitem{
    display: inline-block;
    padding: 0 30px 0 0;

    position: relative;
}

.navitem:last-child{
    padding: 0;
}

.navitem::after{
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    content: "";

    -webkit-transition: width cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.3s;

    -o-transition: width cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.3s;

    transition: width cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.3s;
}

.navitem:hover::after{
    width: 100%;
}

.navitem a{
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #fff;
}

/* ______________________________________________________________________________________________________ */
/* ______________________________________________MAIN____________________________________________________ */
/* ______________________________________________________________________________________________________ */

.main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100vh;

    background: -webkit-gradient(linear, left top, right bottom, from(#00d0ffa1), to(#3a7bd5ad)), url("../resources/images/back.jpg");

    background: -o-linear-gradient(left top, #00d0ffa1, #3a7bd5ad), url("../resources/images/back.jpg");

    background: linear-gradient(to right bottom, #00d0ffa1, #3a7bd5ad), url("../resources/images/back.jpg");
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 95vh);
            clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 95vh);
}

.main-title{
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.5px;
}

.main-tagline{
    font-size: 1.3rem;
    text-transform: capitalize;
    color: #fff;
}


/* _________________________________________________________________________________________________________ */
/* ______________________________________________FUTURES____________________________________________________ */
/* _________________________________________________________________________________________________________ */

.container{
    width: 90%;
    margin: 0 auto;
}

.section-heading{
    text-transform: uppercase;
    font-size: 2.3rem;
    color: #171717;
    font-weight: 200;
    text-align: center;
}

.section-heading::after{
    display: block;
    content: "";
    width: 100px;
    height: 2px;
    background-color: #171717;
    margin: 0 auto;
}

.section-heading-white{
    text-transform: uppercase;
    font-size: 2.3rem;
    color: #fff;
    font-weight: 200;
    text-align: center;
}

.section-heading-white::after{
    display: block;
    content: "";
    width: 100px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
}



.futures-holder{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.future-box{
    width: 310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #3a7bd5;
    margin: 20px auto 0;
}

.future-icon{
    font-size: 2.7rem;
    margin-bottom: 10px;
}

.future-title{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.future{
    text-align: center;
    color: rgb(71, 71, 71);
}


/* ___________________________________________________________________________________________________________ */
/* ______________________________________________COMMUNITY____________________________________________________ */
/* ___________________________________________________________________________________________________________ */

.community{
    margin-top: 100px;
    background-color: rgb(238, 238, 238);
    padding-bottom: 100px;
}

.unlimated{
    width: 100%;
    height: 300px;
    background-image: -webkit-gradient(linear, left top, right top, from(#00d0ffb6), to(#3a7bd5b6)), url("../resources/images/controller.jpg");
    background-image: -o-linear-gradient(left, #00d0ffb6, #3a7bd5b6), url("../resources/images/controller.jpg");
    background-image: linear-gradient(to right, #00d0ffb6, #3a7bd5b6), url("../resources/images/controller.jpg");
    background-position: center;
    background-size: cover;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 4rem;
    text-transform: uppercase;
    color: #fff;
    
    margin-bottom: 60px;
}

.testimonial-holder{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.testimonial-box{
    width: 320px;
    text-align: left;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 50px auto 30px;
}

.testimonial-article{
    width: 90%;
    color: rgb(59, 59, 59);
}

.testimonial-user{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
    width: 90%;
    color: #3a7bd5;
}
.testimonial-user img{
    border-radius: 300px;
    height: 45px;
    margin-right: 10px;
    border: 2px solid #3a7bd5;
}

/* ___________________________________________________________________________________________________________ */
/* ______________________________________________PRICING____________________________________________________ */
/* ___________________________________________________________________________________________________________ */


.pricing-section{
    background-color: rgb(41, 41, 41);
    padding: 50px 0;
}

.pricing-holder{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 90%;
    margin: 70px auto 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.basic{
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.basic:hover{
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.pro{
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.pro:hover{
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.extreme{
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.extreme:hover{
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.cyan{
    color: rgb(41, 201, 201);
}

.orange{
    color: rgb(255, 211, 68);
}

.red{
    color: rgb(255, 68, 68);
}


.price-box{
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 30px auto 0;
}

.top-part{
    padding: 20px;
    
}
.price{
    font-size: 3rem;
}
.price span{
    font-size: 1rem;
}

.middle-part{
    padding: 20px;
    border-bottom: 2px solid rgb(110, 110, 110);
    border-top: 2px solid rgb(110, 110, 110);
}

.middle-part div:first-child{
    margin-top: 0;
}

.middle-part div{
    margin-top: 20px;
    letter-spacing: 0.8px;
}

.bottom-part{
    padding: 30px 20px 0;
    text-align: center;
    background-color: rgb(253, 253, 253);

}

.cyan a{
    background-color: rgb(41, 201, 201);
}

.orange a{
    background-color: rgb(255, 211, 68);
}

.red a{
    background-color: rgb(255, 68, 68);
}
.bottom-part a{
    text-decoration: none;
    padding: 5px 30px 0;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.5rem;
}

/* ___________________________________________________________________________________________________________ */
/* ______________________________________________FAQ__________________________________________________________ */
/* ___________________________________________________________________________________________________________ */

.faq{
    padding: 50px 0;
}

.question-holder{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}

.question-box{
    width: 600px;
    margin-top: 50px;
}

.question-title{
    font-size: 1.5rem;
    color: #3a7bd5;
}

.question-title i{
    font-size: 2rem;
    -webkit-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
            transform: rotate(25deg);
}

.question-answerd{
    width: 80%;
    color: #505050;
    line-height: 1.7;
}


/* ___________________________________________________________________________________________________________ */
/* ______________________________________________FOOTER__________________________________________________________ */
/* ___________________________________________________________________________________________________________ */


.footer{
    padding: 20px 40px;
    background-color: #2c2c2c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.footer div{
    color: #fff;
}

.footer div a{
    text-decoration: underline;
    color: rgb(226, 226, 226);
}

.sm-show{
    display: none !important;
}



/* ___________________________________________________________________________________________________________ */
/* ______________________________________________MEDIA__________________________________________________________ */
/* ___________________________________________________________________________________________________________ */

@media screen and (max-width: 900px){
    .main-title{
        font-size: 3.5rem;
    }
    
    .main-tagline{
        font-size: 1.2rem;
    }
}
    
#check{
    opacity: 0;
    position: absolute;
}
/* MOBILE MENU */
@media screen and (max-width: 723px){


input[type="checkbox"]:checked + .navbar{
    display: none;
}



    .main-title{
        font-size: 3rem;
    }
    
    .main-tagline{
        font-size: 1rem;
    }

    .menu-icon{
        font-size: 1.3rem;
        color: #fff;
    }

    .mobile-navbar{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: #3a7bd5;
        -webkit-box-shadow: -5px 0 10px #295696;
                box-shadow: -5px 0 10px #295696;

        display: block;
        padding-top: 20px;
    }

    .mobile-navbar .navitem{
        display: block;
        text-align: center;
        padding: 20px 90px;
    }

    .mobile-navbar .navitem a{
        font-size: 1.2rem;
    }

    .mobile-navbar .navitem:last-child{
        display: block;
        padding: 20px 90px;
    }

    .hide{
        display: none;
    }

    .sm-show{
        display: block !important;
    }

    .unlimated{
        height: 200px;
        font-size: 2.7rem;
    }
}


@media screen and (max-width: 523px){

    .main{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 78vh, 0 85vh);
                clip-path: polygon(0 0, 100% 0, 100% 78vh, 0 85vh);
    }

    .main-title{
        font-size: 2.5rem;
        width: 80%;
        text-align: center;

        margin-top: -100px;
    }
    
    .main-tagline{
        font-size: 1rem;
    }

    .futures-section{
        margin-top: -50px;
    }

    .future-box{
        margin: 50px auto 0;
    }

    .future-box:first-child{
        margin: 0px auto 0;
    }

    
    .unlimated{
        height: 200px;
        font-size: 2rem;
    }

    .testimonial-user img{
        height: 45px;
        width: 45px;
    }

    .question-answerd{
        width: 90%;
    }


    .footer{
        padding: 20px 10px;
    }
    
    
    .footer div{
        color: #fff;
        font-size: 0.9rem;
    }
    
    .footer div a{
        text-decoration: underline;
        color: rgb(226, 226, 226);
    }

    .footer-logo{
        height: 30px;
    }
}

@media screen and (max-width: 334px){
    body{
        font-size: 15px;
    }
    .unlimated{
        font-size: 1.5rem;
    }

    .mobile-navbar .navitem{
        display: block;
        text-align: center;
        padding: 20px 112px;
    }

    .price{
        font-size: 2.5rem;
    }

    .question-title{
        font-size: 1.3rem;
        color: #3a7bd5;
    }
}

.about{
    max-width: 800px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 2rem ;
}

.contact-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 300px;
    margin: 40px auto;
    width: 100%;


}

.contact-form input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form button{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #3a7bd5;
    color: #fff;
    border: 0;
    cursor: pointer;
}